html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background-color: #343a40;
}
main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    width: 400px;
    height: 455px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ced4da;
}
.screen {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    flex: 0 0 auto;
    height: 70px;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}
p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 35px;
}
.display1 {
    flex: 0 0 auto;
    padding-top: 2px;
    font-size: 20px;
}
.display2 {
    flex: 1 0 auto;
    padding-bottom: 3px;
    font-size: 30px;
    font-weight: bold;
}

.operations {
    flex-grow: 1;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.operator,
.decimal,
.clear,
.equal,
.delete {
    background-color: #adb5bd;
    font-weight: bold;
}

.digits {
    background-color: #f8f9fa;
}

.empty {
    background-color: #f8f9fa;
}
button {
    flex: 1 0 90px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin: 2px;
    font-family: inherit;
}

footer {
    padding: 0.5rem;
    color: #212529;
    text-align: center;
    font-family: inherit;
    display: flex;
    gap: 3px;
    background-color: #74c0fc;
    align-self: stretch;
    justify-content: center;
    font-weight: bold;
}

ion-icon {
    color: #212529;
    transition: transform 0.3s ease-in-out;
}

ion-icon:hover {
    transform: rotate(360deg) scale(1.2);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 31.25em) {
    .container {
        width: min(25rem, 100%);
        margin: 0 2rem;
    }
}

@media (max-width: 24.375em) {
    .container {
        height: 380px;
    }
}
